
/**
 * Navvi - Responsive Navigation
 * http://platdesign.github.com/navvi
 *
 * @author Christian Blaschke - @platdesign
 * @version 0.0.1
 */	





$navvi-breakpoint:0;


@mixin navvi($class:'navvi', $breakpoint:400px) {
	$navvi-breakpoint: $breakpoint;

	.#{$class} {
		position: relative;
		input[type='checkbox'] { display:none; }
		label { cursor: pointer; }
		label.burger:before {
			content:'☰';
		}
		

		/* Wide */
		@media screen and (min-width: $navvi-breakpoint) {
			label { display:none; }
		}

		/* Narrow */
		@media screen and (min-width: 0) and (max-width: $navvi-breakpoint) {
			ul { overflow:scroll; max-height: 0; visibility: hidden; }
			input[type='checkbox']:checked + label + ul { max-height: none; visibility: visible;}
		}

		@content;
	}
}


@mixin navvi-narrow {
	@media screen and (min-width: 0) and (max-width: $navvi-breakpoint) {
		@content;
	}
}


@mixin navvi-wide {
	@media screen and (min-width: $navvi-breakpoint) {
		@content;
	}
}













@mixin navvi-generate($class:'navvi', $breakpoint:400px, $align:left, $bgColor:#444, $fontColor:#eaeaea, $borderRadius:3px) {


	$cMixA: mix($fontColor, $bgColor, 20%);
	$cMixB: mix($fontColor, $bgColor, 80%);


	@include navvi($class, $breakpoint) {

		label {
			background: $bgColor;
			padding: .4em .5em .2em .5em;
			line-height: 1;

			&:before {
				font-size:1.2em;
				line-height: 0;
				vertical-align: baseline;
			}
		}

		label, ul li a {
			line-height:1.2;
			vertical-align: baseline;
		}

		ul {
			li {
				a {
					display:block;
					padding: .4em .5em .2em .5em;
					background: $bgColor;
					color: $cMixB;

					&:hover {
						background: $cMixA;
						color: $fontColor;
					}
				}
			}
		}





		
		@include navvi-wide {
			ul {
				
				@if $align == right { text-align: right; }
				@if $align == center { text-align: center; }

				
				li {
					display: inline-block;
					
					@if $align == left { margin-right: .1em; } 
					@if $align == right { margin-left: .1em; }
					@if $align == center { margin: 0 .05em; }
				}
			}
		}





		@include navvi-narrow {
			
			@if $align == right { text-align: right; }
				@if $align == center { text-align: center; }

			ul {
				position: absolute;
				width:100%;
				text-align: left;

				li {
					border-bottom: 1px solid $cMixB;
					&:last-child {
						border-bottom: none;
					}

					a {
						background: $cMixA;
						color: $cMixB;

						&:hover {
							background: $bgColor;
							color: $fontColor;
						}
					}
				}

				
			}

			label {
				display: block;
				color: $cMixB;
				
				&:hover {
					color: $fontColor;
				}
			}

			input:checked + label {
				color:$fontColor;
				background: $cMixA;
				
				& + ul {
					border-top: 1px solid $cMixB;
				}
			}
		}





		@content;

	}

}








